.most-selling-container {
  width: 25%;
  font-family: 'Arial', sans-serif;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}

.most-selling-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 440px;
  overflow-y: auto;
  padding-right: 10px;
}

.most-selling-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  background-color: #fff;
  transition: transform 0.2s;
}

.most-selling-item:hover {
  transform: translateX(5px);
}

.item-info {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: #111827;
}

.item-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.old-price {
  text-decoration: line-through;
  color: #9ca3af;
  font-size: 0.9rem;
}

.new-price {
  font-weight: 700;
  color: #111827;
  font-size: 1rem;
}


.item-image .item-image-photo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}
