.category-grid-container {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    gap: 10px;
}

.category-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text-primary);
}

.category-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.95rem;
    color: var(--color-primary);
    background: var(--color-primary-soft);
    padding: 6px 14px;
    border-radius: 20px;
    white-space: nowrap;
    transition: 0.3s;
}

.category-link:hover {
    background: var(--color-primary);
    color: #fff;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 22px;
}

.item-rating {
    font-size: 0.85rem;
    color: var(--color-surface) !important;
    background-color: var(--color-warning);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 6px;
    width: min-content;
    white-space: nowrap;
}

.heart-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.2rem;
    z-index: 10;
    color: rgb(14, 201, 14);
    cursor: pointer;
}

@media (max-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .category-grid-container {
        width: 90%;
    }

    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .category-title {
        font-size: 1.3rem;
    }
}

@media (max-width: 600px) {
    .category-grid-container {
        gap: 30px;
        width: 94%;
    }

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
    }

    .item-rating {
        font-size: .7rem !important;
    }
}