.item-detail {
    padding: 40px 0;
    background: var(--color-surface);
}

.item-container {
    max-width: 1100px;
    margin: auto;
    background: var(--color-bg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.06);
}

.item-image img {
    width: 100%;
    border-radius: 14px;
}

.item-title {
    font-size: 30px;
    margin-bottom: 8px;
}

.item-rating {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--color-warning);
    margin-bottom: 8px;
    margin-top: 5px;
}

.item-price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 25px;
}

.item-price p {
    font-size: 14px;
    color: var(--color-text-secondary);
}

.installment {
    margin-top: 15px;
}

.installment h3 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}

.month-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.month-options button {
    padding: 10px 18px;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    background: var(--color-bg);
    cursor: pointer;
    width: min-content;
    white-space: nowrap;
}

.month-options button.active {
    background: var(--color-primary-soft);
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.monthly-result strong {
    display: block;
    font-size: 24px;
    color: var(--color-success);
}

.monthly-result span {
    color: var(--color-text-secondary);
}

.add-to-cart-main {
    margin-top: 25px;
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: var(--color-primary);
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.add-to-cart-main:hover {
    background: var(--color-primary-hover);
}



@media (max-width: 600px) {
    .item-container {
        grid-template-columns: 1fr;
    }

    .item-detail {
        padding: 20px 0;
    }

    .item-container {
        padding: 20px;
        gap: 25px;
        border-radius: 12px;
    }

    .item-title {
        font-size: 22px;
    }

    .item-rating {
        font-size: 14px;
    }

    .item-price {
        font-size: 26px;
        gap: 8px;
    }

    .installment h3 {
        font-size: 16px;
    }

    .month-options {
        flex-wrap: wrap;
    }

    .month-options button {
        flex: 1;
        padding: 10px;
        font-size: 14px;
    }

    .monthly-result strong {
        font-size: 20px;
    }

    .monthly-result span {
        font-size: 13px;
    }

    .add-to-cart {
        padding: 12px;
        font-size: 15px;
    }
}