.category-grid-container {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: var(--color-bg);
    width: 80%;
    margin: 0 10%;
    margin-top: 30px !important;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.category-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-text-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding-left: 10px;
}

.category-title::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 20px;
    width: 3px;
    background-color: var(--color-primary);
}

.category-link {
    white-space: nowrap;
    font-size: 0.9rem;
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: none;
    position: relative;
}

.category-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    height: 3px;
    right: 0px;
    width: 30px;
    background-color: var(--color-primary);
}

.category-link:hover {
    color: var(--color-primary-hover);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.product-image-box {
    padding: 15px 10px;
}

.product-card {
    position: relative;
    overflow: hidden;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-surface);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.discount-badge {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--color-error);
    color: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    padding: 4px 6px;
    border-radius: 4px;
    z-index: 2;
}

.product-image {
    width: 100%;
    height: 18rem;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin: 0px;
}

.product-card:hover .product-image {
    transform: scale(1.05);
}

.product-info {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    height: calc(100% - 18vh);
}

.product-name {
    font-weight: 200;
    font-size: 1.125rem;
    color: var(--color-text-primary);
}

.product-price {
    color: var(--color-error);
    font-weight: 800;
}

.product-serial,
.product-sales {
    font-size: 0.8rem;
    color: var(--color-text-secondary);
}

.product-stock {
    color: rgb(28, 170, 28);
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid rgba(28, 170, 28, .4);
    font-weight: 600;
    margin-top: 3px;
}

.product-rating {
    font-weight: bold;
    color: var(--color-warning);
}

.product-rating .stars {
    color: var(--color-warning);
}

.product-button {
    margin-top: 6px;
    padding: 6px 18px;
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: start;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.product-button:hover {
    background-color: var(--color-primary-hover);
}

@media (max-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 1000px) {
    .category-grid-container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .product-name {
        font-size: .95rem;
    }

    .category-title {
        font-size: 1rem;
    }

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px) {
    .product-button {
        font-size: .9rem;
    }

    .product-name {
        font-size: .95rem;
    }

    .category-title {
        font-size: .9rem;
    }

    .category-link {
        font-size: .85rem;
    }

    .category-grid-container {
        width: 96%;
        padding: 16px 5px;
    }

    .product-info {
        height: calc(100% - 10vh);
    }

    .product-image {
        height: 10rem;
    }

    .card-grid {
        gap: 10px;
    }
    .product-stock{
        font-size: .8rem;
    }
}