.category-page {
  background: var(--color-bg);
  padding: 40px 20px;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.category-page-header {
  margin-bottom: 30px;
  text-align: center;
}

.category-page-title {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-text-primary);
}

.category-page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.category-product-card {
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
}

.category-product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.category-product-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: var(--color-error);
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 50px;
  z-index: 2;
}

.category-product-image-wrapper {
  width: 100%;
  height: 220px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.category-product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.category-product-card:hover .category-product-image {
  transform: scale(1.05);
}

.category-product-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  height: 100%;
}

.category-product-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text-primary);
  min-height: 40px;
}

.category-product-price {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-primary);
}

.category-product-button {
  margin-top: auto;
  text-align: center;
  padding: 10px 14px;
  border-radius: 8px;
  background: var(--color-primary);
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
  margin: 0px;
}

.category-product-button:hover {
  background: var(--color-primary-hover);
}

@media(max-width: 1000px) {
  .category-page-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .category-page{
    width: 90%;
  }
}

@media (max-width: 850px) {
  .category-page{
    width: 96%;
  }
  .category-page-grid {
    grid-template-columns: 1fr 1fr;
  }

  .category-page {
    padding: 30px 15px;
  }

  .category-page-title {
    font-size: 24px;
  }

  .category-product-image-wrapper {
    height: 180px;
  }
}

@media (max-width: 600px) {
  .category-page{
    width: 98%;
  }
  .category-page-grid {
    gap: 16px;
  }

  .category-product-card {
    border-radius: 12px;
  }

  .category-product-title {
    font-size: 14px;
  }

  .category-product-price {
    font-size: 16px;
  }
  .category-product-button{
    font-size: .8rem;
    padding: 10px 12px;
  }
}