.carousel-main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 80%;
    margin: 0 10%;
    margin-bottom: 40px;
}

@media(max-width: 1280px){
    .carousel-main{
        width: 90%;
        margin: 0 auto;
    }
}

@media(max-width: 1000px) {
    .carousel-main {
        width: 100%;
        gap: 10px;
    }
}

@media(max-width: 800px){
     .carousel-main {
        flex-direction: column;
        gap: 20px;
    }
}