.product-order-page {
  max-width: 83%;
  margin: 20px auto;
  padding: 0 20px;
}

.po-orders-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.po-order-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  gap: 15px;
  height: min-content !important;
}

.po-product-info {
  display: flex;
  gap: 15px;
  align-items: center;
  grid-column: 2 span;
  grid-row: 1 span;
}

.po-product-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.po-product-details h3 {
  margin: 0;
  font-size: 18px;
}

.po-product-details p {
  margin: 2px 0;
  font-size: 14px;
  color: #555;
}

.po-order-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-align: right;
  font-size: 14px;
  grid-template-columns: 1 span;
  grid-row: 1 span;
}

.order-location {
  grid-row: 1 span;
  grid-column: 3 span;
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: min-content;
  font-size: .85rem;
}

.po-status {
  padding: 3px 8px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: bold;
  color: #fff;
}

.po-status.pending {
  background-color: orange;
}

.po-status.completed {
  background-color: green;
}

.po-status.cancelled {
  background-color: red;
}

.po-loading,
.po-empty {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  color: #333;
}


@media(max-width: 1000px) {
  .product-order-page {
    max-width: 75%;
  }

  .po-orders-list {
    grid-template-columns: 1fr;
  }
}


@media(max-width: 800px) {
  .product-order-page {
    max-width: 80%;
    padding: 20px;
    margin: 20px auto;
  }
}


@media(max-width: 600px) {
  .product-order-page {
    max-width: 96%;
  }

  .po-order-card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
  }

  .po-product-info {
    gap: 5px;
    margin: 10px auto;
  }

  .po-product-details>h3 {
    font-size: .9rem;
  }

  .po-order-status {
    text-align: left;
  }
}