*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --color-bg: #ffffff;
  --color-surface: #f1f5f9;
  --color-border: #e2e8f0;

  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;

  --color-primary: #7c3aed;        /* mor */
  --color-primary-hover: #6d28d9;
  --color-primary-soft: #ede9fe;

  --color-success: #0ea5e9;        /* firuz…ôyi */
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

body, * {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-border);
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-border);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 8px;
  border: 2px solid var(--color-border);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-hover);
}
